#principal{
    background: url(../images/image3.jpg);
    background-repeat: no-repeat;
}

#cuadro{
    margin: 300px auto;
    opacity: 0.9;
    box-shadow: 0px 0px 40px black;
    width: 60%;
    height: 100px;
}