#principal{
    background-image: url("../images/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#cuadro{
    margin: 200px auto;
    width: 30%;
    text-align: center;
    background: rgba(0,0,0,0.4); /* red,green,blue, opacidad */
    box-shadow: 0px 0px 40px black;
}